@import "nullstyle.scss";

.wrapper {
}
.container {
        margin: 0px auto;
        width: 600px;
        background-color: #afeeee ;

}
.firstblock {
        margin: 0px auto;
        width: 400px;
        background: url('http://img1.joyreactor.cc/pics/post/full/anon-%D0%9A%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0-2191131.jpeg') 0 0/400px 400px no-repeat;
        height: 400px
}
.firstblocktitle {
        text-align: center;
        padding: 180px 0px 0px 0px;
        //djandwjwakn
        //adwiwajdiwajdiwa
}